/* קונטיינר */
.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 10px;
}
.page-container {
  display: flex;
  align-items: stretch; /* Sidebar יתאים לגובה הקלנדר */
}

/* כלל הקלנדר */
.fc {
  padding: 10px;
  margin: auto;
  max-width: 1300px;
  width: 90%;
  background-color: #d9d9d9; /* אפור בהיר ולא כהה */
  border-radius: 10px;
  color: black;
  font-family: sans-serif;
}

.fc-event,
.fc-event a,
.fc-event .fc-event-title,
.fc-event .fc-event-main {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
  display: block !important;
  background-color: rgba(255, 255, 255, 0.737) !important; /* לבן */
  color: black !important; /* טקסט שחור */

  padding: 3px 5px !important;

  overflow-wrap: break-word !important;
  display: block !important;
  font-size: 0.8rem !important;
  line-height: 1.2 !important;
}

/* Hover לאירועים */
.fc-event:hover {
  background-color: #60c7ff !important;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.fc-col-header-cell {
  background-color: #eebe00 !important; /* כותרות כהות יותר */
  color: #000 !important;
  font-weight: 600;
  font-size: 0.95rem;
  padding: 8px 0;
}
.fc-scrollgrid td,
.fc-scrollgrid th {
  border-color: black !important;
  border-width: 2px !important;
}

.loader{
  margin : 10px;
  justify-content: center;
  justify-items: center;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  background-color: lightblue;
  position: relative;
  animation-name: MyLoadingAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}
@keyframes MyLoadingAnimation {
  0%   {background-color:lightblue; left:0px; top:0px;}
  25%  {background-color:rgb(148, 184, 196); left:25px; top:0px;}
  50%  {background-color:rgb(119, 147, 156); left:25px; top:25px;}
  75%  {background-color:rgb(76, 96, 102); left:0px; top:25px;}
  100% {background-color:rgb(28, 36, 39); left:0px; top:0px;}
}
.loadingContant::before{
  content: "";
  animation: changigText 15s infinite;

}
@keyframes changigText {
  0%   { content: "Loading......"; opacity: 1; }
  20%  { opacity: 0; }
  25%  { content: "Getting Transporting.."; opacity: 1; }
  45%  { opacity: 0; }
  50%  { content: "Build Your Plan..."; opacity: 1; }
  70%  { opacity: 0; }
  75%  { content: "Trip Mastering...."; opacity: 1; }
  95%  { opacity: 0; }
  100% { content: "Will Done Soon....."; opacity: 1; }
}

/* Responsive לטלפונים */
@media (max-width: 900px) {
  .page-container {
    flex-direction: column; /* Sidebar מעל הקלנדר */
    align-items: stretch;
  }

  .sidebar {
    width: 100%; /* Sidebar רוחב מלא */
    max-height: 300px; /* גובה מקסימלי */
    margin-bottom: 10px;
  }

  .calendar-container {
    width: 100%; /* Calendar רוחב מלא */
    padding: 0 5px;
  }

  .fc {
    max-width: 100% !important;
    width: 100% !important;
  }
}
